#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 2rem 0;
}

@media screen and (max-width: 850px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}
.content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}




.content div:nth-child(1) {
  align-items: flex-start;
}

@media screen and (max-width: 850px) {
  .content div:nth-child(1) {
    align-items: center;
  }
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo,.character-image {
  width: clamp(350px, 50%, 30vw);
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #78C0B2);
}
