body {
  background: url('./assets/images/Kyus Desk.png') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Keep the background fixed */
  height: 100vh; /* Ensure it takes up the full height of the viewport */
  position: relative; /* Ensure the content is layered above the background */
} 


h1, p {
  color: #fff
}

h1 {
  font-size: clamp(2rem, 10vw, 4rem);
  text-align: center;
}

p {
  font-size: clamp(1rem, 5vw, 1.6rem);
  text-align: center; 
  width: 60dvw;
  margin: 0 auto;  
}

