@media (max-width: 800px) {

  .support {
    font-family: "Playwrite PE", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    font-size: 1.2rem;
    background: gold;
    padding: 1rem 2rem; 
    border-radius: 10px;
    border: 1px solid brown;
}

.support img {
    height: 20px;
}



  .headline h2 {
    font-size: 3rem;
  }

  .headline p, .headline p a, form div div input, form div div textarea, .actions button{
    font-size: 1.6rem;
  }

  section {
    width: 100%;
    overflow: hidden;
  }
    .home, .intro {
        width: 100%;
    }

    nav {
      height: 40px;
      padding: 3rem 0
    }


    .collapse img{
      height: 20px;
      padding: 1rem
    }

    .nav-links {
      height: 100vh;
      
    }

    .nav-links li, .nav-links .resume  {
      width: 100%;
      padding: 2.5rem 0;
     
  }
  .nav-links .resume  {
      padding: 3rem 0;
 
  }

    .intro {
        justify-content: center;
        background-color: rgba(251, 251, 251, 0.8);
        height: 100vh;
    }

    .intro > * {
      margin: 2rem 0;
      padding: 0
    }

    .hello {
        font-size: 3.5rem; 
      }
      .my-name {
          font-size: 6.5rem; 
      }
      .my-title {
          font-size: 3.5rem;
      }
      .my-purpose {
          font-size: 3rem; 
      }
      .greeting {
          font-size: 2.5rem;  
      }

      .blurb-container {
        height: 65vh;
      }

      .blurb {
        font-size: 2rem;
      }

      .aspects {
        margin-top: -20%;
      }

      .aspects .card {
        max-width: 80%;
        padding-top: 0
      }
      .aspects .card:nth-child(1) {
        border-radius: 0;
    }
    
    .aspects .card:nth-child(3) {
        border-radius: 0;
    }

    .headline {
      padding: 4rem
    }

    .connect {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .contact-info {
      height: 65vh;
      background: var(--cyan);
      
  }

    form {
      top: 5%
    }
}